.logo, .logo__image, .logo__section{
	//transition: all .5s;
}

.logo {
	border-bottom: 2px solid $color-accentLight;
	
	height: 20vh;

	> *{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__image{
		background-color: $color-accentDark;
		background-image: url(/static/backgrounds/black-twill.png);
		font-family: 'Righteous', cursive;

		width: 33.3333%;

		svg{
			padding: .2em;
			width: 100%;
			height: 100%;
			fill: $color-shadeDark;
			.cls-5{fill: $color-accentLight;}
		}
	}

	&__section{
		background-color: $color-main;
		background-image: url(/static/backgrounds/noise-pattern-with-subtle-cross-lines.png);
		color: $color-shadeDark;
		font-size: 2em;

		width: 66.6666%;
		overflow: hidden;

		span{
			position: absolute;
		}
	}
}