.logo {
	border-bottom: 2px solid $color-accentLight;

	> *{
		height: 10vh;
	}

	&__image{
		background-color: $color-accentDark;
		background-image: url(/static/backgrounds/black-twill.png);
		> *{
			position: absolute;
			font-size: 10vh;
		}
	}

	&__section{
		background-color: $color-main;
		background-image: url(/static/backgrounds/noise-pattern-with-subtle-cross-lines.png);
		color: $color-shadeDark;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 2em;
	}
}