@import "~bulma/sass/utilities/_all";


@import url('https://fonts.googleapis.com/css?family=Questrial');

$color-shadeLight: #f1f0f2;
$color-accentLight: #8fc8e6;
$color-main: #2982c5;
$color-shadeDark: #274c76;
$color-accentDark: #5d6a89;

$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($color-shadeLight, $color-accentLight),
    "dark": ($color-shadeDark, $color-accentDark),
    "primary": ($color-main, $color-shadeLight),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert)
);

$color-textDark: $color-shadeDark;
$color-textLight: $color-shadeLight;

body{
	margin: 0px;
	padding: 0px;
	font-family: 'Questrial', sans-serif !important;
}

.hero{
	margin: 1em 0;
}

@import 
	"states/ExportList",
	"states/Logo",
	"states/ExportProcess";

@import "~bulma";
@import "~buefy/src/scss/buefy";

