@import url('https://fonts.googleapis.com/css?family=Questrial');

$color-shadeLight: #f1f0f2;
$color-accentLight: #8fc8e6;
$color-main: #2982c5;
$color-shadeDark: #274c76;
$color-accentDark: #5d6a89;
$color-textDark: $color-shadeDark;
$color-textLight: $color-shadeLight;

//Override Bootstrap Variables
$primary: $color-main;
$secondary: $color-shadeDark;
$info: $color-accentLight;

body{
	margin: 0px;
	padding: 0px;
	font-family: 'Questrial', sans-serif !important;
	overflow: hidden;
	background: url(/static/background.png);
}

//Import state scss
@import
	"elements/headers",
	"elements/states",
	"elements/navigation",
	
	"states/ExportList",
	"states/Logo",
	"states/ExportProcess";
