#navigation{
	position: absolute;
	bottom: 0px;
	height: 4.2em;
	max-height: 10vh;
	background-image: url(/static/backgrounds/cardboard.png);
	background-color: $color-accentDark;
	width: 100%;
	overflow: hidden;
	border-top: 2px solid $color-accentLight;

	z-index: 1;

	.navSection{
		padding: 0;
		height: 3em;

		.btn{
			height: 140%;
			//max-width: 110px;
			overflow: hidden;
			margin: 0 .5em;
			border-radius: 0;
			padding: 2px 2em;
			
			svg{
				font-size: 200%;
				opacity: .4;
			}
			&__text{

			}
		}
	}

	.navLeft{
		.btn{
			&__text{
				text-align: right;
			}
		}
	}

	.navRight{
		.btn{
			&__text{
				text-align: left;
			}
		}
	}
}